# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
*.env
venv/

# Test / coverage artifacts
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Ruff
.ruff_cache/

# Tooling
.mypy_cache/
.ipynb_checkpoints/

# OS noise
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
